Package: terminalsweeper
Version: 1.1
Section: utils
Priority: optional
Architecture: all
Depends: python3 (>= 3.6)
Maintainer: TangramIce <tangramice@proton.me>
Description: A Terminal Minesweeper game.
